
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.caixa {
    width: 200px;
    height: 200px;
    background-color: silver;
    padding: 2px;
    margin: 10px 5px;
    text-align: center;
    
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
}   

.caixa:hover {
    background-color: rgb(168, 167, 167);
}

.caixa button {
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

.caixa button:hover {
    width: 22px;
    height: 22px;
}

.color1 {
    background-color: green;
}

.color2 {
    background-color: red;
}